html {
    margin: 0;
}

.container {
    padding: 15px;
    width: 350px;
    height: auto;
}

#submitBtn {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: lightblue;
    color:mintcream;
}

.subheading {
    color:lightblue;
}

/* Options page */
.optionsContainer {
    text-align: center;
    width: 100vw;
    margin: 0 auto;
}